<!DOCTYPE html>
<html>
<head>
  <title>Components &ndash; Tabs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- favicon -->
  <link rel="shortcut icon" href="../../_images/favicon.png" type="image/x-icon" />
  <link rel="icon" href="../../_images/favicon.png" type="image/x-icon" />

  <!-- css -->
  <link rel="stylesheet" type="text/css" href="../../_css/bootstrap-grid.css">
  <link rel="stylesheet" type="text/css" href="../../_css/bootstrap-reboot.css">
  <link rel="stylesheet" type="text/css" href="../../_css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../../_css/tyrian.css">

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700" rel="stylesheet">

  <!-- javascript -->
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
</head>

<body>
  <div class="site-container">
    <div class="site-pusher">

      <header class="header">

        <div id="page-header"></div>
        <script>
          $( "#page-header" ).load( "https://design.healthequity.com/_ajax/header.html" );
        </script>

      </header>

    <div class="site-content">
      <div class="container-fluid p-4">
        <div class="row flex-xl-nowrap">
          <div class="col-12 col-sm-3 col-xl-2 bd-sidebar">
            <h5 class="mt-2 pb-2">Components</h5>
            <div class="div-2 mb-2"></div>

            <div id="components-nav"></div>
            <script>
              $( "#components-nav" ).load( "https://design.healthequity.com/_ajax/nav.html #components" );
            </script>

          </div>
          <div class="col-12 col-sm-8 col-xl-10">
            <h1 class="m-0 text-purple">Tabs</h1>
            <h3 class="text-gray60 light lh-3 w-70 mb-4">Tabs are used as secondary navigation on a page, providing different options within the same context</h3>
            <h2>Example</h2>
            <p>Takes the basic bootstrap nav and adds the <code class="highlighter-rouge">.nav-tabs</code> class to generate a tabbed interface. Use them to create tabbable regions with the <a href="https://getbootstrap.com/docs/4.1/components/navs/#javascript-behavior">Bootstrap tab JavaScript plugin</a>.</p>
            <div class="callout-card callout-warning w-70">
              <p>Try and design without using disabled states. Disabled elements may cause confusion when the reason for the element being disabled isn't clear. Provide a clear validation reason when disabling an element.</p>
            </div>
            <ul class="nav nav-tabs mb-4">
              <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
            <div class="bd-clipboard invisible">
              <button class="btn-clipboard" type="button" data-clipboard-action="copy" data-clipboard-target="pre" data-toggle="tooltip" data-placement="top" data-original-title="Copy to clipboard">Copy</button>
            </div>
<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"nav nav-tabs"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"nav-item"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"nav-link active"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Active<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"nav-item"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"nav-link"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Link<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"nav-item"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"nav-link"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Link<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"nav-item"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"nav-link disabled"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Disabled<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span></code></pre></figure>
            <p class="mt-4">For additional specifics on using tabs follow the link below.</p>
            <p class="text-gray54"><a  href="https://getbootstrap.com/docs/4.3/components/navs/#tabs" target="_blank">getbootstrap.com/docs/4.3/components/navs/#tabs</a></p>
          </div>
        </div>
      </div> <!-- END container -->
    </div> <!-- END site-content -->
    <div class="site-cache" id="site-cache"></div>
  </div> <!-- END site-pusher -->
</div> <!-- END site-container -->
<script>
  var cipboard = new ClipboardJS('.btn-clipboard)'); clipboard.on('success', function(e) { console.log(e); }); clipboard.on('error', function(e) { console.log(e); });
</script>
</body>
<script>
$(document).ready(function(){

	(function($) {

		$('#header__icon').click(function(e){
			e.preventDefault();
			$('body').toggleClass('with--sidebar');
		});

    $('#site-cache').click(function(e){
      $('body').removeClass('with--sidebar');
    });

	})(jQuery);

});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>
