<!DOCTYPE html>
<html>
<head>
  <title>Components &ndash; List</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- favicon -->
  <link rel="shortcut icon" href="../../_images/favicon.png" type="image/x-icon" />
  <link rel="icon" href="../../_images/favicon.png" type="image/x-icon" />

 <!-- css -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <link rel="stylesheet" type="text/css" href="../../_css/tyrian.css">

 <!-- javascript -->
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
 <script>
   $(function () {
   $('[data-toggle="tooltip"]').tooltip()
   })
 </script>
</head>

<body>
  <div class="site-container">
    <div class="site-pusher">

      <header class="header">

        <div id="page-header"></div>
        <script>
          let header = "https://design.healthequity.com/_ajax/header.html"

          fetch (header)
          .then(x => x.text())
          .then(y => document.getElementById("page-header").innerHTML = y);
        </script>

      </header>

    <div class="site-content">
      <div class="container-fluid p-4">
        <div class="row flex-xl-nowrap">
          <div class="col-12 col-sm-3 col-xl-2 bd-sidebar">
            <h5 class="mt-2 pb-2">Components</h5>
            <div class="div-2 mb-2"></div>

            <div id="components-nav"></div>
            <script>
              let components = "https://design.healthequity.com/_ajax/components-nav.html"

              fetch (components)
              .then(x => x.text())
              .then(y => document.getElementById("components-nav").innerHTML = y);
            </script>

          </div>
          <div class="col-12 col-sm-8 col-xl-10">
            <h1 class="m-0 text-purple">List</h1>
            <h3 class="text-gray60 light lh-3 w-70 mb-4">Consisting of related content items organized and grouped together. List groups are a flexible component for displaying a series of content.</h3>
            <h2>Ordered list</h2>
            <ol>
              <li>Ordered list</li>
              <ol class="li-2">
                <li>Nested ordered list</li>
                <li>Nested ordered list</li>
              </ol>
              <li>Ordered list</li>
              <li>Ordered list</li>
            </ol>
            <div class="bd-clipboard invisible">
              <button class="btn-clipboard" type="button" data-clipboard-action="copy" data-clipboard-target="pre" data-toggle="tooltip" data-placement="top" data-original-title="Copy to clipboard">Copy</button>
            </div>
<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;ol&gt;</span>
  <span class="nt">&lt;li&gt;</span>Ordered list<span class="nt">&lt;/li&gt;</span>
    <span class="nt">&lt;ol</span> <span class="na">class=</span><span class="s">"li-2"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;li&gt;</span>Nested ordered list<span class="nt">&lt;/li&gt;</span>
      <span class="nt">&lt;li&gt;</span>Nested ordered list<span class="nt">&lt;/li&gt;</span>
    <span class="nt">&lt;/ol&gt;</span>
  <span class="nt">&lt;li&gt;</span>Ordered list<span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;</span>Ordered list<span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ol&gt;</span></code></pre></figure>
            <h2 class="mt-4">Unordered list</h2>
            <ul>
              <li>Unordered list</li>
              <ul class="li-2">
                <li>Nested unordered list</li>
                <li>Nested unordered list</li>
              </ul>
              <li>Unordered list</li>
              <li>Unordered list</li>
            </ul>
            <div class="bd-clipboard invisible">
              <button class="btn-clipboard" type="button" data-clipboard-action="copy" data-clipboard-target="pre" data-toggle="tooltip" data-placement="top" data-original-title="Copy to clipboard">Copy</button>
            </div>
<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;ul&gt;</span>
  <span class="nt">&lt;li&gt;</span>Unordered list<span class="nt">&lt;/li&gt;</span>
    <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"li-2"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;li&gt;</span>Nested unordered list<span class="nt">&lt;/li&gt;</span>
      <span class="nt">&lt;li&gt;</span>Nested unordered list<span class="nt">&lt;/li&gt;</span>
    <span class="nt">&lt;/ul&gt;</span>
  <span class="nt">&lt;li&gt;</span>Unordered list<span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;</span>Unordered list<span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span></code></pre></figure>
            <h2 id="list-group" class="mt-4">List group
              <a class="anchor" href="#list-group">#</a>
            </h2>
            <p>List groups are a flexible and powerful component for displaying a series of content. Modify and extend them to support just about any content within. For specifics on using a list group follow the link below.</p>
            <p>The most basic list group is an unordered list with list items and the proper classes. Build upon it with the options that follow, or with your own CSS as needed.</p>
            <ul class="list-group w-40">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="bd-clipboard invisible">
              <button class="btn-clipboard" type="button" data-clipboard-action="copy" data-clipboard-target="pre" data-toggle="tooltip" data-placement="top" data-original-title="Copy to clipboard">Copy</button>
            </div>
<div class="highlight mt-3">
<pre><code class="language-html" data-lang="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"list-group"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"list-group-item"</span><span class="nt">&gt;</span>Cras justo odio<span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"list-group-item"</span><span class="nt">&gt;</span>Dapibus ac facilisis in<span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"list-group-item"</span><span class="nt">&gt;</span>Morbi leo risus<span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"list-group-item"</span><span class="nt">&gt;</span>Porta ac consectetur ac<span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"list-group-item"</span><span class="nt">&gt;</span>Vestibulum at eros<span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span></code></pre></div>
            <p class="mt-4">For additional specifics on using list groups follow the link below.</p>
            <p class="text-gray54"><a  href="https://getbootstrap.com/docs/5.2/components/list-group/" target="_blank">getbootstrap.com/docs/5.x/components/list-group/</a></p>
          </div>
        </div>
      </div> <!-- END container -->
    </div> <!-- END site-content -->
    <div class="site-cache" id="site-cache"></div>
  </div> <!-- END site-pusher -->
</div> <!-- END site-container -->
<script>
  var cipboard = new ClipboardJS('.btn-clipboard)'); clipboard.on('success', function(e) { console.log(e); }); clipboard.on('error', function(e) { console.log(e); });
</script>
</body>
<script>
$(document).ready(function(){

	(function($) {

		$('#header__icon').click(function(e){
			e.preventDefault();
			$('body').toggleClass('with--sidebar');
		});

    $('#site-cache').click(function(e){
      $('body').removeClass('with--sidebar');
    });

	})(jQuery);

});
</script>
</html>
